<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Form Fragment</title>
</head>
<body>
<form th:fragment="post-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${post}" method="post">

        <label th:text="#{post.label.title}">Post</label>
        <br/>
        <input type="text" th:field="*{title}"/>
        <label class="error" th:errors="*{title}">Title error placeholder</label>
        <br/><br/>

        <label th:text="#{post.label.content}">Content</label>
        <br/>
        <input type="text" th:field="*{content}"/>
        <label class="error" th:errors="*{content}">Content error placeholder</label>
        <br/><br/>

        <div th:each="tag : ${tags}">
            <input type="checkbox"
                   th:field="*{tagIds}"
                   th:value="${tag.getTagId()}"
                   th:text="${tag.getTagName()}"/>
        </div>
        <label class="error" th:errors="*{tagIds}">Tag error placeholder</label>
        <br/><br/>

        <label th:text="#{post.label.new.tag}">Add new tags</label>
        <br/>
        <input type="tagNames" th:field="*{tagNames}"/>
        <br/><br/>

        <input type="submit" value="Save"/>
    </form>
</body>
</html>