<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Comment</title>

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<!--th:unless="${author.isBlocked()}"-->
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="../index.html" th:href="@{/}">Home</a></li>
                <li><a href="../index.html" th:href="@{/posts}">Posts</a></li>
                <li><a href="../index.html" th:href="@{/posts/{commentId}(postId=${comment.commentId})}">Comment</a></li>
            </ol>
            <h2>Edit Comment</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-12 entries">


                    <div class="blog-comments">

                        <div id="editcomment" class="reply-form">
                            <h4>Edit comment</h4>
                            <p>Your email address will not be published. Required fields are marked * </p>
                            <form th:fragment="comment-form" action="#" th:object="${comment}"
                                  th:action="@{/posts/{postId}/{commentId}/update(postId=${postId}, commentId=${comment.commentId})}" method="post">
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <label th:text="#{comment.label.content}">Content</label>
                                        <input th:field="*{content}" type="text" name="content" class="form-control" placeholder="Your Content*"/>
                                        <label class="error" th:errors="*{content}">Content error placeholder</label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" value="Edit">Edit Post</button>

                            </form>

                        </div><!-- End New Comment section -->

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->
            </div>
        </div>
    </section>
</main>

<form th:replace="fragments/footer.html :: footer"></form>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>