<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Posts</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="../index.html" th:href="@{/}">Home</a></li>
            </ol>
            <h2>Posts</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <div class="blog-pagination">
                        <ul class="justify-content-end">
                            <li th:if="${isAuthenticated && !loggedInUser.isBlocked()}">
                                <a class="active" href="#" th:href="@{/posts/new}"
                                   th:text="#{navigation.create.post}">Create a new post</a></li>
                        </ul>
                    </div>
                    <article class="entry" th:each="post : ${posts}">
                        <div class="blog-pagination">
                            <ul class="justify-content-end">
                                <li class="active" th:if="${userId == post.user.userId}">
                                    <a href="#" th:href="@{/posts/{postId}/update(postId=${post.postId})}">Edit</a></li>
                                <li class="active" th:if="${isAuthenticated && (userId == post.user.userId || isAdmin)}">
                                    <a href="#" th:href="@{/posts/{postId}/delete(postId=${post.postId})}">Delete</a></li>
                            </ul>
                        </div>

                        <h2 class="entry-title">
                            <a th:href="@{/posts/{postId}(postId=${post.getPostId()})}"
                               th:text="${post.getTitle()}">Post</a>
                        </h2>

                        <div class="entry-meta" >
                            <ul>
                              <li th:if="${!isBlocked}" class="d-flex align-items-center"><i class="bi bi-person"></i>
                                  <a th:href="@{/users/{userId}(userId=${post.user.userId})}"
                                     th:text="${post.user.username}">Author</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                                    <a th:text="${post.getCreationTime().toString().substring(0, 10)}">Time</a>
                                </li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>
                                    <a th:text="${post.getComments().size()}">Comments</a></li>
                                <li th:unless="${post.getTags().isEmpty()}" th:each="tag: ${post.getTags()}"
                                    class="d-flex align-items-center"><i class="bi bi-tag"></i>
                                    <a th:text="${tag.getTagName()}">Tag</a></li>
                                <li th:unless="${post.likesCount==0}" class="d-flex align-items-center"><i
                                        class="bi bi-heart"></i>
                                    <a th:text="${post.likesCount} + ' Likes' ">Likes</a></li>
                                <li th:unless="${post.disLikesCount==0}" class="d-flex align-items-center"><i
                                        class="bi bi-hand-thumbs-down"></i>
                                    <a th:text="${post.disLikesCount} + ' Dislikes' ">Dislikes</a></li>
                            </ul>
                        </div>

                    </article><!-- End blog entry -->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <!-- Sidebar search form-->
                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form th:action="@{/posts}" method="get">
                                <input type="search" class="form-control" name="search">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search form-->

                        <!-- Sidebar filter form-->
                        <section id="call-to-action">
                        <form class="container aos-init aos-animate" data-aos="zoom-in" th:action="@{/posts/filter}" th:object="${filterPostDto}" method="post">

                            <label class="text-white" th:text="#{post.label.tag}">Tag</label>
                            <br/>
                            <select class="form-select-sm" th:field="*{tagId}">
                                <option selected th:value="null"> Any Tag </option>
                                <option th:each="tag : ${tags}"
                                        th:value="${tag.getTagId()}"
                                        th:text="${tag.getTagName()}">
                                    BeerTagOne
                                </option>
                            </select>
                            <br/><br/>

                            <label class="text-white" th:text="#{post.label.sort}">Sort Options</label>
                            <br/>

                            <select class="form-select-sm" th:field="*{sort}">
                                <option selected th:value="null"> Not ordered </option>
                                <option th:each="option : ${sortPostOptions}"
                                        th:value="${option.getPreview()}"
                                        th:text="${option.getPreview()}">
                                    BeerStyleOne
                                </option>
                            </select>
                            <br>
                            <br>
                            <input class="cta-btn" type="submit" value="Filter" /></a>
                        </form>
                        </section><!-- End Sidebar filter form-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->

<form th:replace="fragments/footer.html :: footer"></form>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>