<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}">Post Title</title>

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
<form th:replace="fragments/navbar.html :: navbar"></form>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="../index.html" th:href="@{/}">Home</a></li>
                <li><a href="../index.html" th:href="@{/posts}">Posts</a></li>
            </ol>
            <h2 th:text="${post.getTitle()}">Title</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Post section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-12 entries">

                    <article class="entry">

                        <div class="blog-pagination">
                            <ul class="justify-content-end">
                                <li class="active" th:if="${userId == post.user.userId}">
                                    <a th:href="@{/posts/{postId}/update(postId=${post.postId})}">Edit</a></li>
                                <li class="active" th:if="${isAuthenticated && (userId == post.user.userId || isAdmin)}">
                                    <a th:href="@{/posts/{postId}/delete(postId=${postId})}">Delete</a></li>
                            </ul>
                        </div>

                        <h2 class="entry-title">
                            <a th:href="@{/posts/{postId}(postId=${post.getPostId()})}"
                               th:text="${post.getTitle()}">Post</a>
                        </h2>

                        <div class="entry-content">
                            <a th:text="${post.getContent()}">Content</a>
                        </div>
                        <br>

                        <div class="entry-meta">
                            <ul>
                                <li th:if="${!isBlocked}" class="d-flex align-items-center"><i class="bi bi-person"></i>
                                    <a th:href="@{/users/{userId}(userId=${post.user.userId})}"
                                       th:text="${post.user.username}">Author</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                                    <a th:with="date=${post.getCreationTime()}"
                                       th:text="${post.getCreationTime().toString().substring(0, 10)}">Time</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>
                                    <a th:text="${post.getComments().size()}">Comments</a></li>

                                <li th:unless="${post.likesCount==0}" class="d-flex align-items-center"><i
                                        class="bi bi-heart"></i>
                                    <a th:text="${post.likesCount} + ' Likes' ">Likes</a></li>
                                <li th:unless="${post.disLikesCount==0}" class="d-flex align-items-center"><i
                                        class="bi bi-hand-thumbs-down"></i>
                                    <a th:text="${post.disLikesCount} + ' Dislikes' ">Dislikes</a></li>
                                <li th:unless="${post.getTags().isEmpty()}" th:each="tag: ${post.getTags()}"
                                    class="d-flex align-items-center"><i class="bi bi-tag"></i>
                                    <a th:text="${tag.getTagName()}">Tag</a></li>
                            </ul>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li ><form th:if="${isAuthenticated && isNotLiked && !isBlocked}" th:action="@{/posts/{postId}/like(postId=${post.postId})}" method="post">
                                    <input class="btn-success" type="submit" value="Like"/>
                                    </form></li>
                                <li ><form th:if="${isAuthenticated && isNotDisliked && !isBlocked}" th:action="@{/posts/{postId}/dislike(postId=${post.postId})}" method="post">
                                    <input class="btn-dark" type="submit" value="Dislike"/>
                                </form></li>
                            </ul>
                        </div>
                    </article>

                </div>

                <!-- ======= First comment ======= -->

                <div th:if="${post.getComments().isEmpty()}" class="blog-comments">

                    <!-- ======= New Comment section ======= -->

                    <div id="firstcomment" th:unless="${post.user.isBlocked()}" class="reply-form">
                        <h4>Leave a Comment</h4>
                        <p>Your email address will not be published. Required fields are marked * </p>
                        <form th:fragment="comment-form" action="#" th:object="${newComment}"
                              th:action="@{__${#httpServletRequest.requestURI}__/comment}"
                              method="post">
                            <div class="row">
                                <div class="col form-group">
                                    <input th:field="*{content}" type="text" name="comment" class="form-control"
                                           placeholder="Your Comment*"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <h6 th:text="${'Author: ' + post.user.firstName + ' ' + post.user.lastName}">Johny
                                        Defaulty</h6>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" value="Comment">Post Comment</button>

                        </form>

                    </div><!-- End New Comment section -->

                </div><!-- End blog comments -->

                <!-- ======= Comment section ======= -->

                <div th:unless="${post.getComments().isEmpty()}" class="blog-comments">

                    <h4 class="comments-count" th:text="${post.getComments().size()} + ' Comments' ">8 Comments</h4>

                    <div th:each="comment : ${post.getComments()}" th:id="${comment.commentId}" class="comment">
                        <div class="blog-pagination">
                            <ul class="justify-content-end">
                                <li class="active" th:if="${userId == comment.userId && !isBlocked}">
                                    <a href="#" th:href="@{/posts/{postId}/{commentId}/update(postId=${post.postId}, commentId=${comment.commentId})}">Edit</a></li>
                                <li class="active" th:if="${isAuthenticated && (userId == comment.userId || isAdmin) && !isBlocked}">
                                    <a href="#" th:href="@{/posts/{postId}/{commentId}/delete(postId=${post.postId}, commentId=${comment.commentId})}">Delete</a></li>
                            </ul>
                        </div>
                        <div class="d-flex">
                            <div class="comment-img"><img
                                    th:src="@{/users/image/{userId}(userId=${comment.getUserId()})}" alt="#"/></div>
                            <div>

                                <!--                            <h5><a href="" th:href ="@{/users/name/{userId}(userId=${comment.userId})}" th:src="@{/users/name/{userId}(userId=${comment.userId})}" >Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Comment</a></h5>-->
                                <div class="cell" th:text="${comment.getContent()}">Comment</div>
                            </div>
                        </div>
                    </div><!-- End comment section -->

                    <!-- ======= New Comment section ======= -->

                    <div id="newcomment" th:unless="${post.user.isBlocked()}" class="reply-form">
                        <h4>Leave a Comment</h4>
                        <p>Your email address will not be published. Required fields are marked * </p>
                        <form th:fragment="comment-form" action="#" th:object="${newComment}"
                              th:action="@{__${#httpServletRequest.requestURI}__/comment}"
                              method="post">
                            <div class="row">
                                <div class="col form-group">
                                    <input th:field="*{content}" type="text" name="comment" class="form-control"
                                           placeholder="Your Comment*"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <h6 th:text="${'Author: ' + post.user.firstName + ' ' + post.user.lastName}">Johny
                                        Defaulty</h6>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" value="Comment">Post Comment</button>

                        </form>

                    </div><!-- End New Comment section -->

                </div><!-- End blog comments -->
            </div>

        </div>

    </section><!-- End Blog Section -->


</main><!-- End #main -->

<form th:replace="fragments/footer.html :: footer"></form>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>