<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${loggedInUser.username}">Username</title>

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<form th:replace="fragments/navbar.html :: navbar"></form>


<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="../index.html" th:href="@{/}">Home</a></li>
                <li><a href="../user/users.html" th:href="@{/users}">Users</a></li>
                <li><a href="../user/users.html" th:href="@{/users/{userId}(userId=${loggedInUser.userId})}"
                       th:text="${loggedInUser.username}">Current User</a></li>
            </ol>
            <h2>Upload New Picture</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= User Profile section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-12 entries">
                    <div class="blog-author d-flex align-items-center">

                        <img th:if="${loggedInUser.getImage() != null}" class="rounded-pill" th:src="@{/users/image/{userId}(userId=${loggedInUser.userId})}" alt="#" />
                        <div>
                            <h4 th:text="${loggedInUser.firstName + ' ' + loggedInUser.lastName}">First Last Name</h4>
                            <ul class="list-unstyled">
                                <li><i class="bi bi-person-lines-fill" th:text="${' ' + loggedInUser.username}"></i></li>
                            </ul>

                    <form th:fragment="user-form" action="#" th:action="@{/users/{userId}/upload(userId=${userId})}" th:object="${image}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="imageFile">
                        </div>
                        <br><br/>
                        <button type="submit" class="btn-primary">Upload</button>
                    </form>
                </div>
            </div><!-- End User bio -->
                </div>
            </div>
        </div>
    </section>
</main>

<form th:replace="fragments/footer.html :: footer"></form>

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>