<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${currentUser.username}">Username</title>

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="../index.html" th:href="@{/}">Home</a></li>
                <li><a href="../user/users.html" th:href="@{/users}">Users</a></li>
            </ol>
            <h2>Profile</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= User Profile section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-12 entries">
                    <div class="blog-author d-flex align-items-center">

                        <img th:if="${currentUser.getImage() != null}" class="rounded-pill" th:src="@{/users/image/{userId}(userId=${currentUser.userId})}" alt="#" />
                        <div>
                            <h4 th:text="${currentUser.firstName + ' ' + currentUser.lastName}">First Last Name</h4>
                            <ul class="list-unstyled">
                                <li><i class="bi bi-person-lines-fill" th:text="${' ' + currentUser.username}"></i></li>
                                <li><i class="bi bi-mailbox" th:text="${' ' + currentUser.email}"></i></li>
                                <li th:if="${currentUser.getPhone()!= null && !currentUser.getPhone().getPhone().isEmpty()}">
                                    <i class="bi bi-phone" th:text="${' ' + currentUser.getPhone().getPhone()}"></i></li>
                            </ul>

                            <div class="social-links">
                                <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                            </div>

                            <div class="blog-pagination">
                                <ul class="justify-content-start">
                                    <li class="active" th:if="${isAuthenticated && loggedInUser.userId == currentUser.userId}">
                                        <a th:href="@{__${#httpServletRequest.requestURI}__/update}">Edit</a></li>
                                    <li class="active" th:if="${isAuthenticated && loggedInUser.userId == currentUser.userId}">
                                        <a th:href="@{/users/upload}">Upload</a></li>
                                    <li class="active" th:if="${isAuthenticated && loggedInUser.userId == currentUser.userId && loggedInUser.getUserTypes.contains(Admin)}">
                                        <a th:href="@{__${#httpServletRequest.requestURI}__/demote}">Demote</a></li>
                                </ul>
                            </div>

                        </div>
                    </div><!-- End User bio -->

                    <!-- ======= User Posts section ======= -->
                    <div th:if="${currentUser.getPosts() != null}" class="row">
                        <article class="col-lg-6 entry"  th:each="post : ${currentUser.getPosts()}">

                            <h2 class="entry-title">
                                <a th:href="@{/posts/{postId}(postId=${post.getPostId()})}" th:text="${post.getTitle()}">Post</a>
                            </h2>
                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                                        <a th:href="@{/posts/{postId}(postId=${post.getPostId()})}" th:with="date=${post.getCreationTime()}"
                                           th:text="${post.getCreationTime().toString().substring(0, 10)}">Time</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>
                                        <a th:href="@{/posts/{postId}(postId=${post.getPostId()})}"
                                           th:text="${post.getComments().size()}">Comments</a></li>
                                </ul>
                            </div>

                        </article><!-- End User Posts section -->
                    </div>

                </div><!-- End blog entries list -->

            </div>

        </div>

    </section><!-- End User Profile section -->


</main><!-- End #main -->

<form th:replace="fragments/footer.html :: footer"></form>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>