<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="../index.html" th:href="@{/}">Home</a></li>
            </ol>
            <h2>Edit User</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= User Edit section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-12 entries">
                    <div class="blog-author d-flex align-items-center">


                        <form th:fragment="user-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" method="post">
                            <label th:text="#{user.label.image}">Profile Image</label>
                            <br/><br/>
                            <img th:if="${user.getImage() != null}" class="rounded-pill" th:src="@{/users/image/{userId}(userId=${userId})}" alt="#" />
                            <br/><br/>
                            <label th:text="#{user.label.username}">Username</label>
                            <br/>
                            <h2><p th:text="${user.username}"></p></h2>
                            <br/>

                            <label th:text="#{user.label.current.password}">Enter current password</label>
                            <br/>
                            <input type="password" th:object="${password}" th:field="*{currentPassword}"/>
                            <label class="error" th:errors="*{password}">Password error placeholder</label>
                            <br/><br/>

                            <label th:text="#{user.label.new.password}">Enter new password</label>
                            <br/>
                            <input type="password" th:object="${password}" th:field="*{newPassword}"/>
                            <label class="error" th:errors="*{password}">Password error placeholder</label>
                            <br/><br/>

                            <label th:text="#{user.label.confirm.password}">Confirm password</label>
                            <br/>
                            <input type="password" th:object="${password}" th:field="*{confirmPassword}"/>
                            <label class="error" th:errors="*{password}">Password error placeholder</label>
                            <br/><br/>


                            <br><br>

                            <label th:text="#{user.label.first-name}">First Name</label>
                            <br/>
                            <input type="text" th:field="*{firstName}"/>
                            <label class="error" th:errors="*{firstName}">First name error placeholder</label>
                            <br/><br/>

                            <label th:text="#{user.label.last-name}">Last Name</label>
                            <br/>
                            <input type="text" th:field="*{lastName}"/>
                            <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
                            <br/><br/>

                            <label th:text="#{user.label.email}">Email</label>
                            <br/>
                            <input type="text" th:field="*{email}"/>
                            <label class="error" th:errors="*{email}">Email error placeholder</label>
                            <br/><br/>

                            <div th:if="${isAdmin}">
                                <label th:text="#{user.label.phone}">Phone</label>
                                <br/>
                                <input type="text" th:field="*{phone}"/>
                                <label class="error" th:errors="*{phone}">Phone placeholder</label>
                                <br/><br/>
                            </div>

                            <input class="btn-success" type="submit" value="Save"/>
                        </form>
                    </div><!-- End User Edit -->
                    </div>

                </div><!-- End blog entries list -->

            </div>

    </section><!-- End User Profile section -->
</main>

<form th:replace="fragments/footer.html :: footer"></form>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>