<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="../index.html" th:href="@{/}">Home</a></li>
            </ol>
            <h2>Users</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Searchbar ======= -->
    <section id="search" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="sidebar">
                    <h3 class="sidebar-title">Search</h3>
                    <div class="sidebar-item search-form">
                        <form th:action="@{/users}" method="get">
                            <input type="search" class="form-control" name="search">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Current User Profile section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-4 entries" th:each="currentUser : ${users}">
                    <div class="blog-author d-flex align-items-center">

                        <a th:if="${currentUser.getImage() != null}"
                           th:href="@{/users/{userId}(userId=${currentUser.userId})}">
                            <img class="rounded-pill"
                                 th:src="@{/users/image/{userId}(userId=${currentUser.userId})}"
                                 alt="#"/></a>
                        <a th:unless="${currentUser.getImage() != null}"
                           th:href="@{/users/{userId}(userId=${currentUser.userId})}">
                            <img class="rounded-pill"
                                 th:src="@{/users/image/{userId}(userId=${20})}"
                                 alt="#"/></a>
                        <div>
                            <a th:href="@{/users/{userId}(userId=${currentUser.userId})}">
                                <h4 th:text="${currentUser.firstName + ' ' + currentUser.lastName}"
                                    th:href="@{/users/{userId}(userId=${currentUser.userId})}">First Last Name</h4>
                            </a>
                            <ul class="list-unstyled">
                                <li><i class="bi bi-person-lines-fill" th:text="${' ' + currentUser.username}"></i></li>
                                <li th:if="${currentUser.getUserTypes().contains(Admin)}"><i class="bi bi-person-badge" th:text=" Admin"></i></li>
                                <li th:unless="${currentUser.getUserTypes().contains(Admin)}"><i class="bi bi-person-badge" th:text=" User"></i></li>
                                <li><i class="bi bi-mailbox" th:text="${' ' + currentUser.email}"></i></li>
                                <li th:if="${currentUser.getPhone()!= null && !currentUser.getPhone().getPhone().isEmpty()}">
                                    <i class="bi bi-phone" th:text="${' ' + currentUser.getPhone().getPhone()}"></i>
                                </li>
                            </ul>

                            <div class="social-links">
                                <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                            </div>

                            <div class="blog-pagination">
                                <ul class="justify-content-start">
                                    <form th:if="${isAuthenticated && loggedInUser.getUserTypes.contains(Admin)
                                    && !currentUser.getUserTypes().contains(Admin) && loggedInUser.userId != currentUser.username}"
                                          action="#"
                                          th:action="@{/users/{userId}/block (userId=${currentUser.userId})}"
                                          th:object="${currentUser}" method="post">
                                        <input class="btn-danger" th:unless="${currentUser.blocked}" type="submit"
                                               value="Block"/></li>
                                        <input class="btn-success" th:if="${currentUser.blocked}" type="submit"
                                               value="Unblock"/></li>
                                    </form>

                                    <form th:if="${isAuthenticated && loggedInUser.getUserTypes.contains(Admin)
                                    && !currentUser.getUserTypes().contains(Admin)
                                    && loggedInUser.userId != currentUser.username
                                    && !currentUser.isBlocked()}"
                                          action="#"
                                          th:action="@{/users/{userId}/promote (userId=${currentUser.userId})}"
                                          th:object="${currentUser}" method="post">
                                        <input class="btn-success"
                                               th:if="${!currentUser.getUserTypes().contains(Admin)}"
                                               type="submit" value="Promote"/></li>
                                    </form>
                                </ul>
                            </div>

                        </div>
                    </div><!-- End User bio -->

                </div><!-- End blog list -->

            </div>

        </div>

    </section><!-- User Profile section -->



</main><!-- End #main -->

<form th:replace="fragments/footer.html :: footer"></form>

<!-- Template Main JS File -->
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>