<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>BG DAD</h3>
                    <p>"Every father should remember one day his son will follow his example, not his advice." Charles Kettering</p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a th:href="@{/}">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a th:href="@{/#about}">About us</a></li>
                        <li th:unless="${isAuthenticated}">
                            <i class="bi bi-chevron-right"></i> <a th:href="@{/auth/login}">Login</a></li>
                        <li th:if="${isAuthenticated && !isBlocked}"><i class="bi bi-chevron-right"></i>
                            <a  th:text="${session.currentUser}" th:href="@{/users/{userId}(userId=${userId})}">Profile</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Best Fathers Ever <br>
                        Sofia, 1172<br>
                        Bulgaria <br>
                        <strong>Phone:</strong> +359 8359 359<br>
                        <strong>Email:</strong> bestdads@anymail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Made by <strong>Chavdar Dimitrov & Ivaylo Stavrev</strong>
        </div>
        <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->
</nav>
</body>
</html>