<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
    <header th:fragment="navbar" id="header" class="fixed-top d-flex align-items-center ">
        <div class="container-fluid">

            <div class="row justify-content-center align-items-center">
                <div class="col-xl-11 d-flex align-items-center justify-content-between">
                    <h1 class="logo"><a href="index.html" th:href="@{/}">BG DAD</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav id="navbar" class="navbar">
                        <ul>
                            <li><a href="index.html" th:href="@{/}">Home</a></li>
                            <li><a th:if="${isAuthenticated}" href="post/posts.html" th:href="@{/posts}">Posts</a></li>
                            <li><a th:if="${isAuthenticated && isAdmin}" href="user/users.html" th:href="@{/users}">Users</a></li>
                            <li><a th:unless="${isAuthenticated}" href="login.html" th:href="@{/auth/login}">Login</a></li>
                            <li class="dropdown" th:if="${isAuthenticated}"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a th:if="${isAuthenticated && !isBlocked}" class="nav-link" th:text="${session.currentUser}"
                                           th:href="@{/users/{userId}(userId=${userId})}">Profile</a></li>
                                    <li><a th:if="${isAuthenticated}" th:href="@{/auth/logout}" class="nav-link">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->
                </div>
            </div>

        </div>
    </header><!-- End Header -->
</nav>
</body>
</html>