<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BG Dad Forum</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png"  th:href="@{/img/favicon.png}" rel="icon">
  <link href="../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/animate.css/animate.min.css" th:href="@{/vendor/animate.css/animate.min.css}" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizPage - v5.8.0
  * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
        </ol>
        <h2>Blog Single</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">


            <div class="blog-comments">

              <div id="newpost" class="reply-form">
                <h4>Create new post</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form th:fragment="post-form" action="#" th:object="${post}"
                      th:action="@{/posts/new}" method="post">
                  <div class="row">
                    <div class="col form-group">
                      <label th:text="#{post.label.title}">Title</label>
                      <input th:field="*{title}" type="text" name="title" class="form-control"
                             placeholder="Your Title*"/>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col form-group">
                      <label th:text="#{post.label.content}">Content</label>
                      <input th:field="*{content}" type="text" name="content" class="form-control"
                             placeholder="Your Content*"/>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col form-group">
                      <label th:text="#{post.label.tags}">Tags</label>
                      <div th:each="tag : ${tags}">
                        <input type="checkbox"
                               th:field="*{tagIds}"
                               th:value="${tag.getTagId()}"
                               th:text="${' ' + tag.getTagName()}"/>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary" value="Create">Create Post</button>

                </form>

              </div><!-- End New Comment section -->

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->
        </div>
      </div>
    </section>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js" th:src="@{/vendor/aos/aos.js}"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js" th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js" th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js" th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js" th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>