<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BG Dad Forum</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png"  th:href="@{/img/favicon.png}" rel="icon">
  <link href="../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/animate.css/animate.min.css" th:href="@{/vendor/animate.css/animate.min.css}" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizPage - v5.8.0
  * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-11 d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/" th:href="@{/}">BG DAD</a></h1>
        <!--           <a href="index.html" class="logo"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero" th:href="@{/}">Home</a></li>

            <li><a class="nav-link scrollto" href="#about">About</a></li>

            <li><a th:if="${isAuthenticated}" class="nav-link scrollto" href="post/posts.html" th:href="@{/posts}">Posts</a></li>

            <li><a th:if="${isAuthenticated && isAdmin}" class="nav-link scrollto" href="user/users.html" th:href="@{/users}">Users</a></li>

            <li class="dropdown" th:unless="${isAuthenticated}"><a th:href="@{/posts}"><span>Posts</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#mostrecent">Most Recent</a></li>
                <li><a href="#mostcommented">Most Commented</a></li>
              </ul>
            </li>
            <li><a th:unless="${isAuthenticated}" class="nav-link scrollto" href="#facts">Facts</a></li>

            <li class="dropdown" th:if="${isAuthenticated}"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a th:if="${isAuthenticated && !isBlocked}" class="nav-link"  th:text="${session.currentUser}" th:href="@{/users/{userId}(userId=${userId})}">Profile</a></li>
                <li><a th:if="${isAuthenticated}" class="nav-link" th:href="@{auth/logout}">Logout</a></li>
              </ul>
            </li>

            <li th:unless="${isAuthenticated}" class="nav-item mx-0 mx-lg-1">
              <a th:href="@{auth/login}" class="btn-outline-light nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Login</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
    </div>
  </div>
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url(../static/img/hero-carousel/1.jpg)">
        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">FIRST DAD FRIENDLY FORUM</h2>
                <p class="animate__animated animate__fadeInUp">Expect no judgement. Whether you have just become father or your
                  children are teenagers or even left the house you are welcome to share your experience.
                  Of course we welcome also, mothers, brothers, sisters and all other relatives or EVEN people without children.</p>
                <a th:if="${isAuthenticated}" href="#" th:href="@{/posts}" class="btn-get-started scrollto animate__animated animate__fadeInUp">All posts</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Chavdar & Ivaylo - each father of two boys</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p class="text-center">
                Become Java Software Developers.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p class="text-center">
               Graduate Telerik Academy.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              </div>
              <h2 class="title"><a href="#">Our First Website</a></h2>
              <p class="text-center">
                with Spring Framework, MariaDB & Bootstrap theme.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

    <br>
    <!-- ======= Top Recent Posts Section ======= -->
    <section th:unless="${isAuthenticated}" id="mostrecent">
      <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
          <h3>TOP RECENT POSTS</h3>
          <p>The top 10 most recent post published on the website.</p>
        </header>

        <div class="row">
          <div th:each="post: ${mostrecent}" class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title" th:text="${post.getTitle()}">Title</h4>
            <p class="bi-calendar-date-fill" th:text="${post.getCreationTime()}">Creation time</p>
          </div>
          </div>
        </div>
    </section><!-- End Most Recent Posts Section -->

    <!-- ======= Facts Section ======= -->
    <section th:unless="${isAuthenticated}" id="facts">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Some Math</h3>
          <p>Being fathers doesn't mean we do no like to write, share and "gossip".
            We started the website with 0 of any kind - user,posts or comments.
            Below you can check the father community contribution.</p>
        </header>

        <div class="row counters">
          <div class="col-lg-4 col-6 text-center"><span th:text="${activeusers}"></span>
            <p>Users</p>
          </div>

          <div class="col-lg-4 col-6 text-center"><span th:text="${createdposts}"></span>
            <p>Posts</p>
          </div>
          <!--       //ToDo add comment number-->
          <div class="col-lg-4 col-6 text-center"><span th:text="${createdposts}"></span>
            <p>Comments</p>
          </div>
        </div>

        <div class="facts-img">
          <img src="../static/img/facts-img.png" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- End Facts Section -->

    <br>
    <!-- ======= Top Recent Posts Section ======= -->
    <section th:unless="${isAuthenticated}" id="mostcommented">
      <div class="container" data-aos="fade-up">
        <header class="section-header wow fadeInUp">
          <h3>TOP COMMENTED POSTS</h3>
          <p>The top 10 most commented posts.</p>
        </header>

        <div class="row">
          <div th:each="post: ${mostcommented}" class="col-md-6 col-lg-4 mb-5 aos-init aos-animate"
               data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title" th:text="${post.getTitle()}">Title</h4>
            <p class="bi-calendar-date-fill" th:text="${post.getCreationTime()}">Creation time</p>

        </div>

      </div>

      </div>
    </section><!-- End Most Commented Posts Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../static/img/team-1.jpg" th:src="@{/img/team-1.jpg}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Chavdar Dimitrov</h4>
                  <span>Chief Executive Father</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <img src="../static/img/team-3.jpg" th:src="@{/img/team-3.jpg}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Ivaylo Stavrev</h4>
                  <span>Chief Technical Dad</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>BG DAD</h3>
            <p>"Every father should remember one day his son will follow his example, not his advice." Charles Kettering</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
              <li th:if="${isAuthenticated}"><i class="bi bi-chevron-right"></i>
                <a href="user/user-update.html" th:text="${session.currentUser}" th:href="@{/users/user-update}">Profile</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Best Fathers Ever <br>
              Sofia, 1172<br>
              Bulgaria <br>
              <strong>Phone:</strong> +359 8359 359<br>
              <strong>Email:</strong> bestdads@anymail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Made by <strong>Chavdar Dimitrov & Ivaylo Stavrev</strong>
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
   <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js" th:src="@{/vendor/aos/aos.js}"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js" th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js" th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js" th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js" th:src="@{/vendor/waypoints/noframework.waypoints.js}"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>