<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png"  th:href="@{/img/favicon.png}" rel="icon">
    <link href="../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizPage - v5.8.0
    * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<form th:replace="fragments/navbar.html :: navbar"></form>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a class="nav-link scrollto active" href="index.html" th:href="@{/}">Home</a></li>
                    <li>Login</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page mt-4">
        <div class="container">
            <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
            <label th:text="#{user.label.username}">Username</label>
            <br/>
            <input type="text" th:field="*{username}"/>
            <label class="error" th:errors="*{username}">Username error placeholder</label>
            <br/><br/>

            <label th:text="#{user.label.password}">Password</label>
            <br/>
            <input type="password" th:field="*{password}"/>
            <label class="error" th:errors="*{password}">Password error placeholder</label>
            <br/><br/>

            <input class="btn-outline-primary" type="submit" value="Login"/>
        </form>
            <br/>
            <p><a th:href="@{/auth/register}" href="#">Not registered? Register</a></p>
        </div>
    </section>

</main><!-- End #main -->

<form th:replace="fragments/footer.html :: footer"></form>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Uncomment below i you want to use a preloader -->
 <div id="preloader"></div>

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>