<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png"  th:href="@{/img/favicon.png}" rel="icon">
    <link href="../static/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizPage - v5.8.0
    * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<form th:replace="fragments/navbar.html :: navbar"></form>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a class="nav-link scrollto active" href="index.html" th:href="@{/}">Home</a></li>
                    <li>Register</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page mt-4">
        <div class="container">
            <p>
            <form th:fragment="user-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:object="${register}" method="post">
                <label th:text="#{user.label.username}">Username</label>
                <br/>
                <input type="text" th:field="*{username}"/>
                <label class="error" th:errors="*{username}">Username error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.password}">Password</label>
                <br/>
                <input type="password" th:field="*{password}"/>
                <label class="error" th:errors="*{password}">Password error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.password-confirm}">Confirm Password</label>
                <br/>
                <input type="password" th:field="*{passwordConfirm}"/>
                <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.first-name}">First Name</label>
                <br/>
                <input type="text" th:field="*{firstName}"/>
                <label class="error" th:errors="*{firstName}">First name error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.last-name}">Last Name</label>
                <br/>
                <input type="text" th:field="*{lastName}"/>
                <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.email}">Email</label>
                <br/>
                <input type="text" th:field="*{email}"/>
                <label class="error" th:errors="*{email}">Email error placeholder</label>
                <br/><br/>
                <input class="btn-outline-primary" type="submit" value="Register"/>
            </form>
            <br/>
            <p><a th:href="@{/auth/login}" href="#">Already registered? Login</a></p>
        </div>
    </section>

</main><!-- End #main -->

<form th:replace="fragments/footer.html :: footer"></form>

<!-- ======= Footer ======= -->
<!--<footer id="footer">-->
<!--    <div class="footer-top">-->
<!--        <div class="container">-->
<!--            <div class="row">-->

<!--                <div class="col-lg-4 col-md-6 footer-info">-->
<!--                    <h3>BG DAD</h3>-->
<!--                    <p>"Every father should remember one day his son will follow his example, not his advice." Charles Kettering</p>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 footer-links">-->
<!--                    <h4>Useful Links</h4>-->
<!--                    <ul>-->
<!--                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>-->
<!--                        <li><i class="bi bi-chevron-right"></i> <a href="index.html#about" th:href="@{/#about}">About us</a></li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 footer-contact">-->
<!--                    <h4>Contact Us</h4>-->
<!--                    <p>-->
<!--                        Best Fathers Ever <br>-->
<!--                        Sofia, 1172<br>-->
<!--                        Bulgaria <br>-->
<!--                        <strong>Phone:</strong> +359 8359 359<br>-->
<!--                        <strong>Email:</strong> bestdads@anymail.com<br>-->
<!--                    </p>-->

<!--                    <div class="social-links">-->
<!--                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>-->
<!--                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>-->
<!--                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>-->
<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <div class="copyright">-->
<!--            &copy; Made by <strong>Chavdar Dimitrov & Ivaylo Stavrev</strong>-->
<!--        </div>-->
<!--        <div class="credits">-->
<!--            &lt;!&ndash;-->
<!--            All the links in the footer should remain intact.-->
<!--            You can delete the links only if you purchased the pro version.-->
<!--            Licensing information: https://bootstrapmade.com/license/-->
<!--            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage-->
<!--          &ndash;&gt;-->
<!--            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>&lt;!&ndash; End Footer &ndash;&gt;-->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- Template Main JS File -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>